<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css') }}">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-4"></h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Employee Info</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th class="text-center">排名</th>
                                            <th class="text-center">专栏名</th>
                                            <th class="text-center">创建者</th>
                                            <th class="text-center">关注数</th>
                                            <th class="text-center">文章数</th>
                                            <th class="text-center">平均赞同数</th>
                                            <th class="text-center">平均评论数</th>
                                        </tr>
                                    </thead>
                                    <tbody>
{% for i in index %}
                                        <tr>
                                            <td class="text-center">{{ i }}</td>
                                            <td class="text-center"><a class="card-link", href="{{ columnUrls[i-1] }}">{{ columnNames[i-1] }}</a></td>
                                            <td class="text-center"><a class="card-link", href="{{ authorUrls[i-1] }}">{{ authorNames[i-1] }}</a></td>
                                            <td class="text-center">{{ followers[i-1] }}</td>
                                            <td class="text-center">{{ articlesCounts[i-1] }}</td>
                                            <td class="text-center">{{ meanVoteupCounts[i-1] }}</td>
                                            <td class="text-center">{{ meanCommentCounts[i-1] }}</td>
                                        </tr>
                                          {% endfor %}
                                        <tr></tr>
                                    </tbody>
                                    <tfoot>
                                        <tr></tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Zzmath 2020</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>
