<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SICAUER</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .r-a {
            color: #6c757d !important;
            text-decoration: none;
            background-color: transparent;
        }
    </style>
    <link href="sticky-footer.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
<main role="main" class="flex-shrink-0">
    <div class="container">
        <p class="lead">Hello, {{ user.username }}!</p>
        <p class="lead">通过点击下面这个链接更改你的邮箱：</p>
        <p class="lead">
            <a href="{{ url_for('users.change_email', token=token, _external=True) }}" class="btn btn-primary">更改邮箱</a>
        </p>
    </div>
</main>
<div class="fixed-bottom">
    <footer class="footer">
        <div class="container text-center">
        <span class="text-muted">
            &copy; 2018-2019 Sicauer <a class="r-a" href="http://www.miitbeian.gov.cn">蜀ICP备18027889号</a>
        </span>
        </div>
    </footer>
</div>
</body>
</html>