{% extends 'admin/master.html' %}
{% block head %}
    <head>
        {{ super() }}
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
    </head>
{% endblock %}
{% block body %}
    <div class="container" align="right">
    <h5 align="center">Welcome to 后台管理！</h5>
    <br>
    <p>管理员<a href="/login">登录</a></p>
    <br>
    Back to <a href="/">首页 - 简读RSS</a>
    <div>
{% endblock %}
