{% extends "layout.html" %}
{% block content %}
    <legend class="border-bottom">About</legend>
    <div class="collapse" id="collapseExample">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
    <p>
        <a class="r-a" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
           aria-controls="collapseExample">
            More
        </a>
    </p>
{% endblock %}
