{% extends "layout.html" %}
{% from 'macros.html' import form_submit %}
{% block content %}
    <div class="media">
        <img class="rounded-circle account-img"
             src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" alt="" height="125" width="125">
        <div class="media-body">
            <h4 class="account-heading">{{ current_user.username }}</h4>
            <p class="text-secondary more-p">
                {% if current_user.gender == '男' %}
                    <i class="fas fa-mars"></i>
                {% elif current_user.gender == '女' %}
                    <i class="fas fa-venus"></i>
                {% else %}
                    <i class="far fa-user"></i>
                {% endif %}
                {{ current_user.student_ID }}<br>
                <i class="fas fa-atom"></i></i> {{ current_user.faculty }}<br>
                <i class="fas fa-calendar-alt"></i> Joined
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                      title="{{ current_user.member_since.strftime('%Y-%m-%d %H:%M:%S') }}">
                         {{ moment(current_user.member_since, local=True).format('YYYY-MM-DD') }}
                </span>
            </p>
            {#            <div class="collapse" id="collapseExample">#}
            {#                <p class="text-secondary more-p">#}
            {#                    <i class="far fa-envelope"></i> <a class="r-a" href="{{ url_for('users.change_email_request') }}">#}
            {#                    {{ current_user.email }}</a><br>#}
            {#                    {% if current_user.campus %}#}
            {#                        <i class="fas fa-school"></i> {{ current_user.campus }}<br>#}
            {#                    {% endif %}#}
            {#                    {% if current_user.faculty %}#}
            {#                        <i class="fas fa-atom"></i></i> {{ current_user.faculty }}#}
            {#                    {% endif %}#}
            {#                </p>#}
            {#            </div>#}
            {#            <p>#}
            {#                <a class="r-a" data-toggle="collapse" href="#collapseExample" aria-expanded="false"#}
            {#                   aria-controls="collapseExample">#}
            {#                    More#}
            {#                </a>#}
            {#            </p>#}
        </div>
    </div>
    <h4 class="mb-3">Posts by {{ current_user.username }} ({{ current_user.posts.count() }})</h4>
    {% for post in current_user.posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img"
                 src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                    {{ post.author.username }}
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                          title="{{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}">
                        <small class="text-muted">{{ moment(post.date_posted, local=True).fromNow(refresh=True) }}</small>
                    </span>
                </div>
                <p class="article-content">{{ post.content }}</p>
                <a href="{{ url_for('posts.post', post_id=post.id) }}" class="badge badge-secondary">
                    <i class="far fa-comment"></i>
                    {{ post.comments.count() }}</a>
            </div>
        </article>
    {% endfor %}
{% endblock %}
