{% extends "layout.html" %}
{% block content %}
    <br>
    <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}" alt="" height="125" width="125">
        <div class="media-body">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">
                {% if current_user.gender == '1' %}
                    <i class="fas fa-mars"></i>
                {% elif current_user.gender == '2' %}
                    <i class="fas fa-venus"></i>
                {% else %}
                    <i class="far fa-user"></i>
                {% endif %}
                {{ current_user.student_ID }}
                <br>
                <i class="far fa-envelope"></i> <a class="r-a" href="{{ url_for('users.change_email_request') }}">
                {{ current_user.email }}</a><br>
                <i class="fas fa-calendar-alt"></i> Joined
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                      title="{{ current_user.member_since.strftime('%Y-%m-%d %H:%M:%S') }}">
                         {{ moment(current_user.member_since, local=True).format('YYYY-MM-DD') }}
                </span>
                {#                Last seen {{ current_user.last_seen.strftime('%Y-%m-%d %H:%M:%S') }}#}
            </p>
        </div>
    </div>
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom">Account Info</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <h1 class="mb-3">Posts by {{ current_user.username }} ({{ current_user.posts.count() }})</h1>
    {% for post in current_user.posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img"
                 src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                    {{ post.author.username }}
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <p class="article-content">{{ post.content }}</p>
                <a href="{{ url_for('posts.post', post_id=post.id) }}" class="badge badge-secondary">
                    <i class="far fa-comment"></i>
                    {{ post.comments.count() }}</a>
            </div>
        </article>
    {% endfor %}
{% endblock %}
