{% extends "layout.html" %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mon</th>
            <th scope="col">Tue</th>
            <th scope="col">Wed</th>
            <th scope="col">Thu</th>
            <th scope="col">Fri</th>
            <th scope="col">Sat</th>
            <th scope="col">Sun</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for course in mon %}
                <th scope="col">1</th>
                <td>{{ course }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="col">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        </tbody>
    </table>
{% endblock %}