{% extends "layout.html" %}
{% block content %}
    必修加权：{{ compulsory_weighting }}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">课程</th>
            <th scope="col">成绩</th>
            <th scope="col">学分</th>
            <th scope="col">性质</th>
{#            <th scope="col">学年</th>#}
{#            <th scope="col">学期</th>#}
        </tr>
        </thead>
        <tbody>
        {% for grade in grades %}
            <tr>
                <th scope="row">{{ grade.num }}</th>
                <td>{{ grade.course }}</td>
                <td>{{ grade.grade }}</td>
                <td>{{ grade.credit }}</td>
                <td>{{ grade.nature }}</td>
{#                <td>{{ grade.school_year }}</td>#}
{#                <td>{{ grade.semester }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
