{% extends "layout.html" %}
{% block content %}
    <table class="table table-borderless ">
        <thead>
        <tr>
            <th class="text-center" scope="col">总加权/100</th>
            <th class="text-center" scope="col">总学分/{{ b }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center">{{ w2 }}</td>
            <td class="text-center">{{ a }}</td>
        </tr>
        </tbody>
    </table>
    <div class="text-center" id="main" style="width: 100%;height:300px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '每学期必修加权',
                x: 'center',
                y: 'top',
                textAlign: 'left'
            },
            tooltip: {},
            xAxis: {
                data: {{ subjects|safe }},
            },
            yAxis: {
                scale: true,
                splitLine: {
                    show: false
                }
            },
            series: [{
                name: '必修加权',
                type: 'line',
                data: {{ scores|safe }}
            }],
        }

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

    <table class="table">
        <thead>
        <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">课程</th>
            <th class="text-center" scope="col">成绩</th>
            <th class="text-center" scope="col">学分</th>
            <th class="text-center" scope="col">性质</th>
            {#            <th scope="col">学年</th>#}
            {#            <th scope="col">学期</th>#}
        </tr>
        </thead>
        <tbody>
        {% for grade in grades %}
            <tr>
                <th class="text-center" scope="row">{{ grade.num }}</th>
                <td class="text-center">{{ grade.course }}</td>
                <td class="text-center">{{ grade.grade }}</td>
                <td class="text-center">{{ grade.credit }}</td>
                <td class="text-center">{{ grade.nature }}</td>
                {#                <td>{{ grade.school_year }}</td>#}
                {#                <td>{{ grade.semester }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
