{% extends "layout.html" %}
{% block content %}
    {% for post in posts.items %}
        <article class="media content-section">
            <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">
                <img class="rounded-circle article-img"
                     src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            </a>
            <div class="media-body">
                <div class="article-metadata">
                    {{ post.author.username }}
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    <small class="text-muted">{{ moment(post.date_posted).fromNow(refresh=True) }}</small>
                </div>
                <p class="article-content">{{ post.content }}</p>
                <a href="{{ url_for('posts.post', post_id=post.id) }}" class="badge badge-secondary">
                    <i class="far fa-comment"></i>
                    {{ post.comments.count() }}</a>
            </div>
        </article>
    {% endfor %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if posts.page == page_num %}
                        <li class="page-item active"><a class="page-link"
                                                        href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link"
                                                 href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item"><a class="page-link"
                                             href="#">...</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock content %}
