{% extends "layout.html" %}
{% from 'macros.html' import post_time %}
{% block content %}
    <style>
        body {
            height: 100%;
            margin: 0;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
        }

        #app {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            width: 180px;
            height: 20px;
            margin: 0 auto;
            transform: translateY(-50%);
            overflow: hidden;
            z-index: 1;
        }

        .button {
            width: 20px;
            height: 20px;
            float: left;
            margin-right: 20px;
            background-color: #000;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.3s ease width;
        }

        .button:last-child {
            margin-right: 0;
        }

        .button.active {
            width: 60px;
            cursor: auto;
        }
    </style>

    <div id="app">
        <div class="button active"></div>
        <div class="button"></div>
        <div class="button"></div>
        <div class="button"></div>
    </div>




    {#    {% if posts.page == 1 %}#}
    {#        <section class="jumbotron">#}
    {#            <div class="container">#}
    {#                <p class="lead text-muted">#}
    {#                    有人说，把秘密告诉一个树洞，秘密便永远是秘密，因为树洞永远不曾开口。#}
    {#                    于是我找遍了故乡的街，发现那是一句谎言，树的心胸是一圈圈满满的年轮，从来没有留出个洞口，去倾听我的喜怒哀乐。<br>#}
    {#                    现在我找到了这个地方，那些现实中不曾发出的声音，请把它留在这里...#}
    {#                </p>#}
    {#                <p class="text-center">#}
    {#                    <a href="{{ url_for('posts.new_post') }}" class="btn btn-primary my-2">寄存一个秘密</a>#}
    {#                </p>#}
    {#            </div>#}
    {#        </section>#}
    {#    {% endif %}#}
    {#    {% for post in posts.items %}#}
    {#        <article class="media content-section">#}
    {#            <a class="mr-2" href="{{ url_for('users.account', student_id=post.author.student_ID) }}">#}
    {#                <img class="rounded-circle article-img"#}
    {#                     src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">#}
    {#            </a>#}
    {#            <div class="media-body">#}
    {#                <div class="article-metadata">#}
    {#                    {{ post.author.username }}#}
    {#                    {{ post_time(c=post.date_posted, m=moment) }}#}
    {#                </div>#}
    {#                <p class="article-content">{{ post.content }}</p>#}
    {#                <a href="{{ url_for('posts.post', post_id=post.id) }}" class="badge badge-secondary">#}
    {#                    <i class="far fa-comment"></i>#}
    {#                    {{ post.comments.count() }}</a>#}
    {#            </div>#}
    {#        </article>#}
    {#        <div class="card mb-3">#}
    {#            <div class="card-body">#}
    {#                <h5 class="card-title">Card title</h5>#}
    {#                <p class="card-text article-content">{{ post.content }}</p>#}
    {#                <p class="card-text">#}
    {#                    <a href="{{ url_for('posts.post', post_id=post.id) }}" class="badge badge-secondary">#}
    {#                        <i class="far fa-comment"></i>#}
    {#                        {{ post.comments.count() }}</a>#}
    {#                    {{ post_time(c=post.date_posted, m=moment) }}#}
    {#                </p>#}
    {#            </div>#}
    {#        </div>#}
    {#    {% endfor %}#}
    {#    <nav aria-label="Page navigation example">#}
    {#        <ul class="pagination justify-content-center">#}
    {#            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}#}
    {#                {% if page_num %}#}
    {#                    {% if posts.page == page_num %}#}
    {#                        <li class="page-item active"><a class="page-link"#}
    {#                                                        href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>#}
    {#                        </li>#}
    {#                    {% else %}#}
    {#                        <li class="page-item"><a class="page-link"#}
    {#                                                 href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>#}
    {#                        </li>#}
    {#                    {% endif %}#}
    {#                {% else %}#}
    {#                    <li class="page-item"><a class="page-link"#}
    {#                                             href="#">...</a>#}
    {#                    </li>#}
    {#                {% endif %}#}
    {#            {% endfor %}#}
    {#        </ul>#}
    {#    </nav>#}
{% endblock content %}
