{% extends "layout.html" %}
{% block content %}
    <br>
    {% for post in posts %}
        <div class="card">
            <div class="card-header">
                <a style="{text-decoration:none;}"
                   href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ post.content }}</p>
                    <footer class="blockquote-footer"><cite title="Source Title">By {{ post.author.username }}
                        on {{ post.date_posted.strftime('%Y-%m-%d %X') }}</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
        <div class="border-bottom pt-3"></div>
    {% endfor %}
    </div>

{% endblock %}