{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="input-group mb-3">
                    {{ form.user_id(type="text", class="form-control") }}
                <div class="input-group-append">
                    {{ form.submit(class="btn btn-primary", id="button-addon2") }}
                </div>
            </div>
            {% if a %}
                <p class="text text-center"></p>
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>{{ a }}</p>
                    <img src="{{ b }}" class="img-responsive  center-block">
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}