{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom">Face</legend>
                <div class="form-group">
                    {{ form.user_id.label(class="form-control-label") }}
                    {{ form.user_id(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            {% if a %}
                <p class="text-muted text-center">{{ a }}</p>
            {% endif %}
        </form>
    </div>
    </div>
{% endblock %}