<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
        <title>Sicauer - {{ title }}</title>
    {% else %}
        <title>Sicauer</title>
    {% endif %}
    {% block styles %}
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
              integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {#        {{ dropzone.load_css() }}#}
        {#        {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%') }}#}
    {% endblock %}
    <script src="{{ url_for('static', filename = 'js/echarts.min.js') }}"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='favicon.ico') }}" width="30" height="30"
                     class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('main.home') }}">首页<span
                                class="sr-only">(current)</span></a>
                    </li>
                    {% if current_user.is_authenticated and current_user.student_ID == '201702420' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('users.info') }}">Face</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('posts.new_post') }}"><b>寄存</b></a>
                        </li>
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-rounded"
                                     src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}"
                                     alt="" height="30" width="30">
                                {{ current_user.username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                   href="{{ url_for('users.account', student_id=current_user.student_ID) }}">
                                    <span class="text-muted"><i class="far fa-user"></i> 我的主页</span></a>
                                <a class="dropdown-item"
                                   href="{{ url_for('api.grade') }}">
                                    <span class="text-muted"><i class="fas fa-award"></i> 成绩查询</span></a>
                                {% if current_user.is_authenticated and current_user.student_ID == '201702420' %}
                                    <a class="dropdown-item" href="{{ url_for('admin.index') }}">
                                        <span class="text-muted"><i class="far fa-kiss-wink-heart"></i> 管理后台</span></a>
                                {% endif %}
                                <a class="dropdown-item"
                                   href="{{ url_for('users.setting') }}">
                                    <span class="text-muted"><i class="fas fa-cog"></i> 设置</span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('users.logout') }}">
                                    <span class="text-muted"><i class="fas fa-power-off"></i> 退出</span></a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('users.register') }}"><b>注册</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('users.login') }}">登录</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</main>
<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">
            &copy; 2019 Sicauer <a class="r-a" href="http://www.miitbeian.gov.cn">蜀ICP备18027889号</a>
        </span>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.7.0/js/all.js"
        integrity="sha384-qD/MNBVMm3hVYCbRTSOW130+CWeRIKbpot9/gR1BHkd7sIct4QKhT1hOPd+2hO8K"
        crossorigin="anonymous"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{{ moment.include_moment() }}
{{ moment.lang("zh-CN") }}
{#{{ dropzone.load_js() }}#}
</body>
</html>
