{% extends "layout.html" %}
{% from "macros.html" import form_inline_submit, post_time, comment_button %}
{% block content %}
    <article class="media content-section">
        <a class="mr-2" href="{{ url_for('users.account', student_id=post.author.student_ID) }}">
            <img class="rounded-circle article-img"
                 src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        </a>
        <div class="media-body">
            <div class="article-metadata">
                {{ post.author.username }}
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                      title="{{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}">
                        <small class="text-muted">
                            {{ moment(post.date_posted, local=True).fromNow(refresh=True) }}
                        </small>
                    </span>
            </div>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="input-group mb-3">
            {{ form_inline_submit(name=form.content, content="输入您的评论...") }}
            <div class="input-group-append">
                {{ form.submit1(class="btn btn-outline-info") }}
            </div>
        </div>
    </form>
    {# comment part #}
    {% for comment in comments %}
        <article class="media content-section">
            <a class="mr-2" href="{{ url_for('users.account', student_id=comment.author.student_ID) }}">
                <img class="rounded-circle article-img"
                     src="{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}">
            </a>
            <div class="media-body">
                <div class="article-metadata d-flex justify-content-between">
                    <div class="bd-highlight">
                        {{ comment.author.username }}
                        {{ post_time(c=comment.date_posted, m=moment) }}
                    </div>
                    <div class="bd-highlight">
                        {{ comment_button(c=comment, tag='a') }}
                    </div>
                </div>
                <p class="article-content">{{ comment.content }}</p>
                <div class="collapse" id="a{{ comment.id }}">
                    <form method="POST" action="">
                        {{ reply_form.hidden_tag() }}
                        <div class="input-group mb-3">
                            {{ form_inline_submit(name=reply_form.content, content="输入您的回复...") }}
                            <div class="input-group-append">
                                <section hidden>
                                    {{ reply_form.comment_id(value=comment.id) }}
                                </section>
                                {{ reply_form.submit2(class="btn btn-primary") }}
                            </div>
                        </div>
                    </form>
                </div>
                {% for reply in replies %}
                    {% if reply.comment_id == comment.id %}
                        <article class="media r-section">
                            <a class="mr-2"
                               href="{{ url_for('users.account', student_id=reply.author.student_ID) }}">
                                <img class="rounded-circle r-img"
                                     src="{{ url_for('static', filename='profile_pics/' + reply.author.image_file) }}">
                            </a>
                            <div class="media-body">
                                <div class="r-metadata d-flex justify-content-between">
                                    <div class="bd-highlight">
                                        {% if reply.replied != None %}
                                            {{ reply.author.username }} @ {{ reply.replied.author }}
                                        {% else %}
                                            {{ reply.author.username }}
                                        {% endif %}
                                        {{ post_time(c=reply.date_posted, m=moment) }}
                                    </div>
                                    <div class="bd-highlight">{{ comment_button(c=reply, tag='r') }}
                                    </div>
                                </div>
                                <p class="article-content">{{ reply.content }}</p>
                                <div class="collapse" id="r{{ reply.id }}">
                                    <form method="POST" action="">
                                        {{ reply_form.hidden_tag() }}
                                        <div class="input-group mb-3">
                                            {{ form_inline_submit(name=reply_form.content, content="输入您的回复...") }}
                                            <div class="input-group-append">
                                                <section hidden>
                                                    {{ reply_form.comment_id(value=comment.id) }}
                                                    {{ reply_form.replied_id(value=reply.id) }}
                                                </section>
                                                {{ reply_form.submit2(class="btn btn-primary") }}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </article>
                    {%- endif -%}
                {% endfor %}
            </div>
        </article>
    {% endfor %}
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
