{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">
            <img class="rounded-circle article-img"
                 src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        </a>
        <div class="media-body">
            <div class="article-metadata">
                {{ post.author.username }}
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                      title="{{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}">
                        <small class="text-muted">{{ moment(post.date_posted).fromNow(refresh=True) }}</small>
                </span>
            </div>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.content.label(class="form-control-label") }}
        </div>
        <div class="input-group mb-3">
            {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.content(class="form-control form-control-lg") }}
            {% endif %}

            <div class="input-group-append">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </div>
    </form>
    {% for comment in comments %}
        <article class="media content-section">
            <a class="mr-2" href="{{ url_for('users.user_posts', username=comment.author.username) }}">
                <img class="rounded-circle article-img"
                     src="{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}">
            </a>
            <div class="media-body">
                <div class="article-metadata">
                    {{ comment.author.username }}
                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                          title="{{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}">
                        <small class="text-muted">{{ moment(comment.date_posted).fromNow(refresh=True) }}</small>
                    </span>
                </div>
                <p class="article-content">{{ comment.content }}</p>
            </div>
        </article>
    {% endfor %}
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
