{% extends "layout.html" %}
{% from "macros.html" import form_submit %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom">注册</legend>
                {{ form_submit(name=form.student_ID) }}
                {{ form_submit(name=form.username) }}
                {{ form_submit(name=form.email) }}
                {{ form_submit(name=form.password) }}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            已经注册了吗？<a class="ml-2" href="{{ url_for('users.login') }}">登录</a>
        </small>
    </div>
{% endblock %}