{% extends "layout.html" %}
{% from 'macros.html' import form_submit %}
{% block content %}
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
               aria-controls="pills-profile" aria-selected="true">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-email" role="tab"
               aria-controls="pills-contact" aria-selected="false">Email</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="content-section">
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom">Account Info</legend>
                        {{ form_submit(name=form.username, content="用户名") }}
                        {{ form_submit(name=form.campus) }}
                        {{ form_submit(name=form.description, content="一句话描述你自己...") }}
                        <div class="form-group">
                            {{ form.picture.label() }}
                            <div class="custom-file">
                                {{ form.picture(type="file" ,class="custom-file-input", id="customFile") }}
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                    <span class="text-danger">{{ error }}</span></br>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.info_submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-email" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div class="content-section">
                <form method="POST" action="">
                    {{ email_form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom">Change Email</legend>
                        {{ form_submit(name=email_form.email) }}
                        {{ form_submit(name=email_form.password) }}
                    </fieldset>
                    <div class="form-group">
                        {{ email_form.email_submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
